services:
  # 1. NGINX
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web
      - frontend

  # 2. FRONTEND
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"

  # 3. BACKEND (Django)
  web:
    build: ./backend  # <-- Исправлено: ищем в папке backend
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - /mnt/git-data:/git-data # <-- Исправлено: путь Linux
      - static_volume:/app/staticfiles
    environment:
      - DB_HOST=34.41.176.77
      - DB_PORT=5432
      - DB_NAME=git_forum
      - DB_USER=mushi
      - DB_PASS=Mushi_zynq1
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      - redis

  # 4. WORKER
  worker:
    build: ./backend  # <-- Исправлено
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
      - /mnt/git-data:/git-data # <-- Исправлено
    environment:
      - DB_HOST=34.41.176.77
      - DB_PORT=5432
      - DB_NAME=git_forum
      - DB_USER=mushi
      - DB_PASS=Mushi_zynq1
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      - redis

  # 5. REDIS
  redis:
    image: redis:alpine

volumes:
  static_volume: